.sidebar {
  background: #111;
}

.sidebar.pc {
  left:0px;
}

/* The navigation menu links */

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
  color: #f1f1f1;
}

.slideout-menu, .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.slideout-menu {
    display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.brand {
  background: red;
  text-align:center;
  color:white !important;
  list-style: none;
}

.brand a {
  color:white;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open, .slideout-open body, .slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

@media screen and (min-width: 768px) {
  .slideout-panel {
    margin-left: 0px;
  }
  .sidebar.pc {
    overflow-y: hidden;
  }
  body {
    margin-left: 256px;
  }
  .slideout-menu-left {
    display: none;
    left: -500px;
  }
  .slideout-menu-right {
    display: none;
    right: -500px;
  }
}

.mobile-fixed {
  position: fixed;
  height: 40px;
  top:0;
  background: #111;
  width: 100%;
  display: none;
}

.navbar-toggler {
  color:#818181;
}

@media (max-width:767px) {
  .mobile-fixed {
    display: block;
    z-index:2;
  }
  #root {
    margin-top:40px;
  }
  .sidebar.pc {
    display:none;
  }
}
