.top-right-text {
    position: absolute;
    top:0px;
    right:0px;
}

#Snake {
    height: 100vh;
    color: white;
    background: black/*linear-gradient(rgb(255, 0, 193), rgb(73, 0, 255), rgb(0, 184, 255))*/;
    position: relative;
    /* fix for canvas background */
  }