.coolTripletAnimation {
    position:relative;
    font-weight: bold;
}

.triplet-moving {
    mix-blend-mode: lighten;
}

.triplet-moving.transition {
    transition: transform 1s;
}

.coolTripletAnimation .triplet-moving {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
}


.coolTripletAnimation .cyan {
    color: #FF00FF;
}

.coolTripletAnimation .green {
    color: #00FF00;
}
